<meta name="viewport" content="width=device-width, initial-scale=1.0">

<app-header title="Pro Football Forecast"></app-header>

<br>

<h1>Your 2025 NFL Draft Predictions</h1>

<div class="all-picks">
    @if (!this.loading) {
        <h2>Round 1</h2>
        <div class="pick" *ngFor="let pick of this.picks; let i = index; trackBy: trackByIndex">
            <img class="team-logos" [src]="this.imageArr[i]" width="8vh">
            <mat-form-field class="pick-selector">
                <mat-label>Pick {{i + 1}}</mat-label>
                <mat-select [(value)]="this.picks[i]" (selectionChange)="this.setPick(i, $event)" [disabled]="this.userId() == 0">
                    <mat-option style="font-size: 1rem" [value]=" "></mat-option>
                    <mat-option style="font-size: 1rem" *ngFor="let playerSelections of this.players" [disabled]="this.playerAlreadyPicked(playerSelections.playerId)"
                    [value]="playerSelections.playerName">{{playerSelections.playerName}} - {{playerSelections.position}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" [class.first-trade-team]="this.tradeTeam1Index == i && this.tradeIsActive" [disabled]="this.userId() == 0"
            [class.trade-button]="this.tradeTeam1Index != i || !this.tradeIsActive" (click)="this.trade(i)">Trade</button>
        </div>
    }
    
    @else {
        <div class="loading">
            <mat-spinner></mat-spinner>
        </div>
    }
</div>
