<meta name="viewport" content="width=device-width, initial-scale=1.0">

<app-header title="2025 NFL Draft"></app-header>

<br>

<h1>Round 1</h1>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[0]" width="8vh">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 1</mat-label>
        <mat-select [(ngModel)]="this.picks[0]">
            <mat-option style="font-size: 1rem" [value]=""></mat-option>
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button" (click)="this.openTradeDialog(0)">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[1]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 2</mat-label>
        <mat-select [value]="this.picks[1]">
            <mat-option style="font-size: 1rem" [value]=""></mat-option>
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button" (click)="this.openTradeDialog(1)">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[2] ">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 3</mat-label>
        <mat-select [(ngModel)]="this.picks[2]">
            <mat-option style="font-size: 1rem" [value]=""></mat-option>
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button" (click)="this.openTradeDialog(2)">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[3]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 4</mat-label>
        <mat-select [(ngModel)]="this.picks[3]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[4]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 5</mat-label>
        <mat-select [(ngModel)]="this.picks[4]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[5]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 6</mat-label>
        <mat-select [(ngModel)]="this.picks[5]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[6]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 7</mat-label>
        <mat-select [(ngModel)]="this.picks[6]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[7]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 8</mat-label>
        <mat-select [(ngModel)]="this.picks[7]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[8]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 9</mat-label>
        <mat-select [(ngModel)]="this.picks[8]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[9]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 10</mat-label>
        <mat-select [(ngModel)]="this.picks[9]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[10]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 11</mat-label>
        <mat-select [(ngModel)]="this.picks[10]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[11]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 12</mat-label>
        <mat-select [(ngModel)]="this.picks[11]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[12]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 13</mat-label>
        <mat-select [(ngModel)]="this.picks[12]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[13]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 14</mat-label>
        <mat-select [(ngModel)]="this.picks[13]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[14]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 15</mat-label>
        <mat-select [(ngModel)]="this.picks[14]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[15]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 16</mat-label>
        <mat-select [(ngModel)]="this.picks[15]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[16]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 17</mat-label>
        <mat-select [(ngModel)]="this.picks[16]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[17]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 18</mat-label>
        <mat-select [(ngModel)]="this.picks[17]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[18]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 19</mat-label>
        <mat-select [(ngModel)]="this.picks[18]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[19]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 20</mat-label>
        <mat-select [(ngModel)]="this.picks[19]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[20]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 21</mat-label>
        <mat-select [(ngModel)]="this.picks[20]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[21]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 22</mat-label>
        <mat-select [(ngModel)]="this.picks[21]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[22]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 23</mat-label>
        <mat-select [(ngModel)]="this.picks[22]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[23]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 24</mat-label>
        <mat-select [(ngModel)]="this.picks[23]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[24]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 25</mat-label>
        <mat-select [(ngModel)]="this.picks[24]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[25]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 26</mat-label>
        <mat-select [(ngModel)]="this.picks[25]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[26]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 27</mat-label>
        <mat-select [(ngModel)]="this.picks[26]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[27]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 28</mat-label>
        <mat-select [(ngModel)]="this.picks[27]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[28]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 29</mat-label>
        <mat-select [(ngModel)]="this.picks[28]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[29]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 30</mat-label>
        <mat-select [(ngModel)]="this.picks[29]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[30]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 31</mat-label>
        <mat-select [(ngModel)]="this.picks[30]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
</div>

<div class="pick">
    <img class="team-logos" [src]="this.imageArr[31]">
    <mat-form-field class="pick-selector">
        <mat-label>Pick 32</mat-label>
        <mat-select [(ngModel)]="this.picks[31]">
            <mat-option style="font-size: 1rem" *ngFor="let player of players" [value]="player">{{player.playerName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="trade-button">Trade</button>
    <!-- To Do: Trade button needs to be implemented that will open a trade dialog -->
</div>

<!-- To Do: Create an after the draft endpoint that allows for user to choose from a 1-10 selector of how good the pick was. Will also allow for user to make notes. -->

<div class="save-container">
<button mat-raised-button color="primary" class="save-button">Save</button>
</div>