<meta name="viewport" content="width=device-width, initial-scale=1.0">

<app-header title="Pro Football Forecast"></app-header>

<br>

<h1>NFL Draft Predictions</h1>

@if (!this.loading) {
    <h2>Round 1</h2>
    <div class="pick" *ngFor="let pick of this.picks; let i = index; trackBy: trackByIndex">
        <img class="team-logos" [src]="this.imageArr[i]" width="8vh">
        <mat-form-field class="pick-selector">
            <mat-label>Pick {{i + 1}}</mat-label>
            <mat-select [(value)]="this.picks[i]" (selectionChange)="this.setPick(i, $event)">
                <mat-option style="font-size: 1rem" [value]=" "></mat-option>
                <mat-option style="font-size: 1rem" *ngFor="let playerSelections of this.players" [value]="playerSelections.playerName">{{playerSelections.playerName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" [class.first-trade-team]="this.tradeTeam1Index == i && this.tradeIsActive" [class.trade-button]="this.tradeTeam1Index != i || !this.tradeIsActive" (click)="this.trade(i)">Trade</button>
    </div>
    
    <!-- To Do: Create an after the draft endpoint that allows for user to choose from a 1-10 selector of how good the pick was. Will also allow for user to make notes.-->
    
    <br>
    <div class="save-container">
    <button mat-raised-button color="primary" class="save-button">Save</button>
    </div>
}

@else {
    <div class="loading">
        <mat-spinner></mat-spinner>
    </div>
}