.pick {
    display: flex;
    align-items: center;
    gap: 5%;
    margin-left: 2vw;
    margin-right: 2vw;
}

.pick-selector{
    margin-top: 6%;
}

h1{
    text-align: center;
}

.trade-button{
    background-color: rgb(29, 88, 122) !important;
}

.save-button{
    background-color: rgb(54, 151, 54) !important;

}

.save-container{
    text-align: center;
    
}