/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.team-logos{
    width: 8vw;
    height: auto;
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    min-height: unset !important;
    max-height: 0 !important;
  }

//To Do: make background black and will need to get new team logos