/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.team-logos{
    width: 8vw;
    height: auto;
}

.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    min-height: unset !important;
    max-height: 0 !important;
  }

  .loading {
    display: flex;
    justify-content: center;
    margin-top: 20vh !important;
  }

  .submit {
    background-color: rgb(54, 151, 54) !important;
    color: white !important;
}