<div class="signUpDialog">

    <div class="header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h1 mat-dialog-title>{{this.title}}</h1>
        <div class="exit"><button class="exit-button" mat-stroked-button color="disabled" (click)="close()">X</button></div>
    </div>
    <br>
    <br>
    <div class="inputs">
        <div class="email-pass">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="this.email" required="this.email">
            </mat-form-field>
        </div>
        <div class="email-pass">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="this.username" required="this.username">
        </mat-form-field>
        </div>
        <div class="email-pass">
        <form [formGroup]="passwordForm">
            <mat-form-field>
            <mat-label for="password">Password</mat-label>
            <input matInput type="password" id="password" formControlName="password">
            <div *ngIf="passwordControl?.invalid && passwordControl?.touched">
            </div>
        </mat-form-field>
    </form>
    </div>
    <div class="password-error" *ngIf="passwordControl?.invalid && passwordControl?.dirty">
        <p>
          Password must be at least 8 characters long, contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.
        </p>
    </div>
    </div>

    <div class="submit-cancel">
        <div class="cancel"><button mat-raised-button color="warn"(click)="close()">Cancel</button></div>
      
        <div><button mat-raised-button class="submit" (click)="this.createUser()" 
          [disabled]="!this.username || this.username == '' || !this.email || this.email == ''
          || !this.passwordForm.get('password') || passwordControl?.invalid">Submit</button></div>
    </div>
</div>