<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="banner">
    <div class="banner-main-links">
        <div class="home-link">
            <nav><h1><a routerLink="/home"> {{title}} </a></h1></nav> 
        </div>
        <div class="other-link">
            <nav><h3><a routerLink="/player-list">Big Board</a></h3></nav>
        </div>
        <div class="other-link">
            <nav><h3><a routerLink="/draft">Mock Draft</a></h3></nav>
        </div>
        <!-- <nav><h3><a routerLink="/scoreboard">Scoreboard</a></h3></nav> -->
    </div>
    <div class="user">
        {{this.username()}}
        <button mat-button [mat-menu-trigger-for]="menu">
            <a><img src="../../assets/AccountCircle.svg"></a>
        </button>
        <mat-menu #menu="matMenu">
            @if (this.userId() == 0) {
                <button mat-menu-item (click)="this.openLogin()">Login</button>
                <button mat-menu-item (click)="this.openCreateAccount()">Create Account</button>
            }
            @else {
                <button mat-menu-item (click)="this.logout()">Logout</button>
            }
        </mat-menu>
    </div>
</div>