h1 {
    color: white;
    padding-left: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: smaller !important;
    font-weight: 500;
}

.banner{
    display: flex;
    height: 6vh;
    text-align: left;
    align-items: center;
    background-color: rgb(25, 75, 104) !important;
    gap: 60vw;
    .banner-main-links {
        display: flex;
        gap: 2vw;
        align-items: center;
    }
    .user {
        h1 {
            top: 1vh !important;
        }
        a {
            top: 1vh !important;
        }
        color: white;
    }
}