<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="banner">
    <div class="banner-main-links">
        <nav><h1><a routerLink="/home"> {{title}} </a></h1></nav> 
        <nav><h3><a routerLink="/player-list">Player List</a></h3></nav>
        <nav><h3><a routerLink="/draft">Mock Draft Selection</a></h3></nav>
        <nav><h3><a routerLink="/scoreboard">Scoreboard</a></h3></nav>
    </div>
    <div class="user">
        <button mat-button [mat-menu-trigger-for]="menu">
            <nav><h1><a routerLink="/login"><img src="../../assets/AccountCircle.svg"></a></h1></nav>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Login</button>
            <button mat-menu-item>Create Account</button>
        </mat-menu>
    </div>
</div>