@use '@angular/material' as mat;

.table-container {
    width: 100%;
    @include mat.elevation(4);
    tr:nth-child(odd) {
        background-color: lightgray;
    }
}

th {
    font-weight: bold !important;
    background-color: white !important;
}

h1 {
    text-align: center;
    width: 100%;
}