<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <app-header title="2024 NFL Draft"></app-header> -->

<!-- To Do: Might create filter for positions -->

<div class="table-container" #tableContainer>
    <table mat-table cdkDropList (cdkDropListDropped)="drop($event)" [dataSource]="this.dataSource" matSort
    matSortActive="ranking" matSortDirection="asc">

        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RK</th>
            <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
        </ng-container>

        <ng-container matColumnDef="playerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-form-field>
                <mat-select [(value)]="positionSelected" (selectionChange)="this.filterByPos()">
                  <mat-option [value]="'All Pos'">All Pos</mat-option>
                  <mat-option *ngFor="let pos of this.positions" [value]="pos">{{pos}}</mat-option>
                </mat-select>
            </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="heightWeight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>H/W</th>
            <td mat-cell *matCellDef="let element"> {{element.heightWeight}} </td>
        </ng-container>

        <ng-container matColumnDef="college">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>College</th>
            <td mat-cell *matCellDef="let element"> {{element.college}} </td>
        </ng-container>

        <ng-container matColumnDef="bustOrGem">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Star / Bust</th>
            <td mat-cell *matCellDef="let element">
              <div class="star-bust-buttons">
                <button mat-raised-button color="primary" class="star-button">Star</button>
                <button mat-raised-button color="primary" class="bust-button">Bust</button>
              </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></tr>

    </table>
</div>