@use '@angular/material' as mat;

.table-container {
    width: 98%;
    @include mat.elevation(4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}

th {
    background-color: white !important;
}


h2 {
    text-align: center;
    width: 100%;
    font-weight:400;
}
  
.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .star-bust-buttons {
    display: flex;
    gap: .8vw;
  }

.star {
    background-color: rgb(54, 151, 54) !important;
    color: white;
}

.bust {
    background-color: rgb(232, 23, 23) !important;
    color: white;
}

.notes :hover{
  cursor: pointer;
}