<div class="header"
cdkDrag
cdkDragRootElement=".cdk-overlay-pane"
cdkDragHandle>
    <h1 mat-dialog-title>Trade</h1>
    <div class="exit"><button class = "exit-button" mat-stroked-button color="disabled" (click)="closeDialog(false)">X</button></div>
</div>

<br>
<br>

<div class="tradingTeams">
    <mat-form-field>
        <mat-label>Team 1</mat-label>
        <mat-select required [(ngModel)]="team1Name">
          <mat-option *ngFor="let team of teams" [value]="team.name">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field>
    <mat-label>Team 2</mat-label>
    <mat-select required [(ngModel)]="team2Name">
        <mat-option *ngFor="let team of teams" [value]="team.name">
        {{team.name}}
        </mat-option>
    </mat-select>
    </mat-form-field>
</div>

<div class="submit-cancel">
  <div class="cancel"><button mat-raised-button color="warn"(click)="closeDialog(false)">Cancel</button></div>

  <div class="submit-button"><button mat-raised-button class="submit" (click)="addTrade()" 
    [disabled]="">Submit</button></div>
</div>