<div class="loginDialog">

    <div class="header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h1 mat-dialog-title>{{this.title}}</h1>
        <div class="exit"><button class="exit-button" mat-stroked-button color="disabled" (click)="close()">X</button></div>
    </div>
    <br>
    <br>
    <div class="inputs">
        <div class="email-pass">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="this.email" required="this.email">
            </mat-form-field>
        </div>
        <div class="email-pass">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="this.password" required="this.password">
            </mat-form-field>
        </div>
    </div>

    <div class="submit-cancel">
        <div class="cancel"><button mat-raised-button color="warn"(click)="close()">Cancel</button></div>
      
        <div>
            <button mat-raised-button class="create-account" (click)="this.openCreateAccount()">Create Account</button>
        </div>

        <div><button mat-raised-button class="submit" (click)="logIn()" 
          [disabled]="!this.email || !this.password">Submit</button></div>
    </div>
</div>