.header{
  display: flex;
  justify-content: right;

  h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .exit{
    justify-content: right !important;
    display: flex;
    margin-top: 1vh;
    margin-right: 1vh;
    top: 0;
  
    .exit-button{
      min-width: 1.5vw;
    }
  }
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  .email-pass {
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    width: 100% !important;
  }
}

.submit-cancel{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  margin-top: 3vh;
  margin-left: 3%;
  margin-right: 3%;
}

.create-account {
  background-color: rgb(25, 75, 104) !important;
  color: white;
}