<div class="loginDialog">

    <div class="header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h1 mat-dialog-title>{{this.title}}</h1>
        <div class="exit"><button class="exit-button" mat-stroked-button color="disabled" (click)="close()">X</button></div>
    </div>
    <br>
    <br>
    <div class="inputs">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="this.email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="this.password">
        </mat-form-field>
    </div>

    <div class="submit-cancel">
        <div class="cancel"><button mat-raised-button color="warn"(click)="close()">Cancel</button></div>
      
        <p class="error" *ngIf="this.errorExists">Email not found or password is incorrect</p>
      
        <div><button mat-raised-button class="submit" (click)="logIn()" 
          [disabled]="!this.email || !this.password">Submit</button></div>
    </div>
</div>