<meta name="viewport" content="width=device-width, initial-scale=1.0">

<app-header title="Pro Football Forecast"></app-header>

<br>

<div class="home">
    <h1>Pro Football Forecast</h1>
    <p class="text-lg text-gray-300 mt-3 text-center max-w-xl">
      Make predictions, test your football knowledge, and compete with other fans.
    </p>
  
    <div class="">
      <div *ngFor="let feature of features">
        <h2>{{ feature.title }}</h2>
        <p>{{ feature.description }}</p>
      </div>
    </div>
  
    <button mat-raised-button class="dark-blue" (click)="this.routeToDraft()">
      Get Started
    </button>
  </div>

<br>